@model Aircompany.Web.Models.Flight.FlightDetailsViewModel

@{
    ViewBag.Title = "Details";
}
<br>
<div class="jumbotron">
    <h1 class="text-center">@Model.DepartureAirportCode -> @Model.ArivingAirportCode</h1>
</div>

<div class="row">
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(x => x.DepartureAirportCode)
                @Model.DepartureAirportCode
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(x => x.ArivingAirportCode)
                @Model.ArivingAirportCode
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(x => x.DepartureDateTime)
                @Model.DepartureDateTime
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(x => x.ArivingDateTime)
                @Model.ArivingDateTime
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(x => x.DepartureAirportName)
                @Model.DepartureAirportName
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(x => x.DepartureAirportCity)
                @Model.DepartureAirportCity
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(x => x.DepartureAirportCountry)
                @Model.DepartureAirportCountry
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(x => x.ArivingAirportName)
                @Model.ArivingAirportName
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(x => x.ArivingAirportCity)
                @Model.ArivingAirportCity
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(x => x.ArivingAirportCountry)
                @Model.ArivingAirportCountry
            </div>
        </div>
        <hr/>
        <div class="row">
            @* todo: do later *@
            @*@if (User.IsAdmin())
            {
                <div class="col-sm-2">
                    <a href="@Url.Action("Edit", "Flight", new {id = Model.MovieId})"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                </div>
                <div class="col-sm-2">
                    <a href="@Url.Action("Delete", "Flight", new {id = Model.MovieId})"><span class="glyphicon glyphicon-remove"></span> Remove</a>
                </div>
            }*@
            <div class="col-sm-2 right">
                <a href="@Url.Action("Flights", "Booking", new {departureAirportId = Model.DepartureAirportId, arivingAirportId  = Model.ArivingAirportId})"><span class="glyphicon glyphicon-th-list"></span> Flight</a>
            </div>
        </div>
    </div>
</div>