@using Aircompany.DataAccess.Entities
@using Aircompany.Web.Helpers
@using Aircompany.Web.Models.Flight
@model Aircompany.Web.Models.Flight.DirectionsViewModel

@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <h1>Chose direction</h1>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginForm("Index", "Flight", FormMethod.Post, new {@class = "form-horizontal", id = "add-flight-form"}))
            {
                @Html.AntiForgeryToken()

                @Html.Partial("FormValidation")

                <div class="row">
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(x => x.DepartureAirportId, new {@class = "control-label col-sm-3"})
                                    @Html.DropDownListFor(x => x.DepartureAirportId, (SelectList) ViewBag.DepartureAirports, new {@class = "form-control col-sm-3"})
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(x => x.ArivingAirportId, new {@class = "control-label col-sm-3"})
                                    @Html.DropDownListFor(x => x.ArivingAirportId, (SelectList) ViewBag.ArivingAirports, new {@class = "form-control col-sm-3"})
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(x => x.FromDate, new { @class = "control-label col-sm-3" })
                                    @Html.TextBoxFor(x => x.FromDate, "{0:d}", new { @class = "form-control col-sm-3"})
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(x => x.ToDate, new { @class = "control-label col-sm-3" })
                                    @Html.TextBoxFor(x => x.ToDate, "{0:d}", new { @class = "form-control col-sm-3" })
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-2">
                        <input class="btn btn-success" type="submit" value="Search" id="submit-btn"/>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@if (User.IsAdmin())
{
    <hr/>
    <div class="row">
        <div class="col-sm-10">
            <a href="@Url.Action("AddFlight", "Booking")"><span class="glyphicon glyphicon-plus"></span> Add flight</a>
        </div>
    </div>
    <hr />
}

@{
    if (ViewBag.Flights != null)
    {
        var flights = (List<FlightWithCodeViewModel>) ViewBag.Flights;
        if (flights.Any())
        {
            <div class="row">
                <div class="col-sm-12">
                    <h2>Nearest flights</h2>
                </div>
            </div>

            foreach (var flight in flights)
            {
                <hr/>
                <div class="panel panel-default panel-body">
                    <div class="row">
                        <div class="col-sm-2">
                           <h4><b>@flight.Code</b></h4>
                        </div>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-6">
                                    <b>Departure place:</b> @flight.DepartureAirport.Code, @flight.DepartureAirport.City, @flight.DepartureAirport.Country
                                </div>
                                <div class="col-sm-6">
                                    <b>Ariving place:</b> @flight.ArivingAirport.Code, @flight.ArivingAirport.City, @flight.ArivingAirport.Country
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <b>Departure date:</b> @flight.DepartureDateTime
                                </div>
                                <div class="col-sm-6">
                                    <b>Ariving date:</b> @flight.ArivingDateTime
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <button onclick="location.href = '@Url.Action("SelectSeats", "Booking", new {id = flight.Id})'" class="btn btn-primary pull-right " type="button"><span class="glyphicon glyphicon-tags"></span>Book tickets</button>
                        </div>
                    </div>
                </div>
            }
        }
    }
}
