@using Aircompany.DataAccess.Entities
@model Aircompany.Web.Models.Flight.DirectionsViewModel

@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <h1>Chose direction</h1>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginForm("Index", "Flight", FormMethod.Post, new {@class = "form-horizontal", id = "add-flight-form"}))
            {
                @Html.AntiForgeryToken()

                @Html.Partial("FormValidation")

                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group">
                            @Html.LabelFor(x => x.DepartureAirportId, new {@class = "control-label col-sm-3"})
                            @Html.DropDownListFor(x => x.DepartureAirportId, (SelectList) ViewBag.DepartureAirports, new {@class = "form-control col-sm-3"})
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            @Html.LabelFor(x => x.ArivingAirportId, new { @class = "control-label col-sm-3" })
                            @Html.DropDownListFor(x => x.ArivingAirportId, (SelectList)ViewBag.ArivingAirports, new { @class = "form-control col-sm-3" })
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <input class="btn btn-success" type="submit" value="Search" id="submit-btn"/>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@{
    if (ViewBag.Flights != null)
    {
        var flights = (List<Flight>) ViewBag.Flights;
        if (flights.Any())
        {
            <div class="row">
                <div class="col-sm-12">
                    <h2>Nearest flights</h2>
                </div>
            </div>

            foreach (var flight in flights)
            {
                <hr/>
                <div class="panel panel-default">
                    <div class="row">
                        <div class="col-sm-12">
                            @flight.DepartureDateTime
                        </div>
                    </div>
                </div>
            }
        }
    }
}
