@model Aircompany.Web.Models.Account.AdminPageViewModel

@{
    ViewBag.Title = "Administrator page";
}

<div class="page-header">
    <h1>Administrator page</h1>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>Avarage number of booked tickets on flight: <strong>@Model.AvarageNumberOfBookedTickets</strong></h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>Number of flight this week: <strong>@Model.NumberOfFlightsThisWeek</strong>
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>Flights this week:</h3>
        @if (Model.FlightsThisWeek.Count > 0)
        {
            foreach (var flight in Model.FlightsThisWeek)
            {
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-center">
                            @string.Format("{0} -> {1}", flight.DepartureAirportCode, flight.ArivingAirportCode)
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12"><strong>Flight id:</strong> @flight.Id</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12"><strong>Datetime:</strong> @flight.DepartureDate.ToShortDateString() @flight.DepartureTime</div>
                                <div class="col-sm-12"><strong>Datetime:</strong> @flight.ArivingDate.ToShortDateString() @flight.ArivingTime</div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>There is no flights this week.</p>
        }
    </div>
</div>