@using Aircompany.DataAccess.Enums
@using Aircompany.Web.Models.Booking
@model FlightViewModel

@{
    ViewBag.Title = "Confirm selected seats";
}

<div class="page-header">
    <h1>Confirm selected seats</h1>
</div>

<br />
<div class="jumbotron">
    <h2>Confirm selected seats</h2>
    <hr />
    <h2>Flight: @Model.DepartureAirportCode -> @Model.ArivingAirportCode</h2>
    <div class="row">
        <div class="col-sm-4">
            <h3>
                <strong>flight information: </strong>
            </h3>
        </div>
        <div class="col-sm-8">
            <br />
            <div class="col-sm-6">
                @Html.LabelFor(x => x.DepartureDate)
                @Model.DepartureDate.ToShortDateString()
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(x => x.DepartureTime)
                @Model.DepartureTime.ToString()
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(x => x.ArivingDate)
                @Model.ArivingDate.ToShortDateString()
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(x => x.ArivingTime)
                @Model.ArivingTime.ToString()
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(x => x.PlaneModel)
                @Model.PlaneModel
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(x => x.Prices)
                @String.Join(", ", Model.Prices.Select(x => string.Format("{0:0.00}", x.Price))) (UAH)
            </div>
        </div>
    </div>
</div>
@if (Model.SelectedSeats.Count == 0)
{
    <h3>
        <strong>Error! </strong>There is no selected seats!
    </h3>

}
else
{
    <div class="row">
        @foreach (PlaneSeat seat in Model.SelectedSeats)
        {
            <div class="col-sm-3">
                @{
                    string panelClass;
                    string type = "";
                    decimal price = Model.Prices.Find(x => x.SeatTypeId == seat.Type).Price;
                    switch (seat.Type)
                    {
                        case (int) SeatType.Econom:
                            panelClass = "panel-primary";
                            type = SeatType.Econom.ToString();
                            break;
                        case (int) SeatType.Business:
                            panelClass = "panel-info";
                            type = SeatType.Business.ToString();
                            break;
                        case (int) SeatType.First:
                            panelClass = "panel-danger";
                            type = SeatType.First.ToString();
                            break;
                        default:
                            panelClass = "panel-default";
                            break;
                    }
                }
                <div class="panel @panelClass">
                    <div class="panel-heading"><strong>Ticket</strong></div>
                    <div class="panel-body">
                        <strong>Row: </strong>@seat.Row
                        <br/>
                        <strong>Palce: </strong>@seat.Place
                        <br/>
                        <strong>Type: </strong>@type
                    </div>
                    <div class="panel-footer">
                        <strong>Price: </strong>@price
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-sm-4 pull-right">
            <input type="button" class="btn btn-danger" value="Cancel selected tickets" onclick="location.href = '@Url.Action("CancelSelectedSeats", "Booking", new {flight = Model.Id})'" />
            <input type="button" class="btn btn-success" value="Book tickets" onclick="location.href = '@Url.Action("BookTickets", new {flight = Model.Id})'" />
        </div>
    </div>
}
<hr />
@Html.ActionLink("< Back to plane map", "SelectSeats", new { id = Model.Id })